name: Build HANA APK
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Gradle Tools
        run: sudo apt-get update && sudo apt-get install -y gradle

      - name: Build APK
        run: |
          cd app
          gradle assembleDebug